@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
* {
  box-sizing: border-box;
}


.fields {
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.fields-choose {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.choice {
  padding: 20px;
  margin-right: 20px;
  width: auto;
  height: auto;
  text-align: center;
}
.choice:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  transform-origin: 100% 50%;
}

.choice-img {
  height: 200px;
  width: 200px;
  border-radius: 20%;
}
.choice-p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

.add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.add-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  border-radius: 20%;
}
.add:hover {
  transform: scale(1.002);
  transition: transform 0.3s ease-in-out;
  transform-origin: 100% 50%;
}


@media only screen and (max-width: 800px) {
  
  
.fields-choose {
  display: grid;
  grid-template-columns: 1fr;
  width:90%;
}
.add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.add-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  border-radius: 20%;
}
}